###############################################################################
# Start of default configs
###############################################################################

  #####################################
  # Container base defaults
  #####################################
  # Max Usage Limits
x-limits: &limits
  mem_limit: ${MEM_LIMIT:-2G} # Override per container if necessary
  memswap_limit: ${MEM_SWAP_LIMIT:-2.5G}
  mem_reservation: ${MEM_RESERVATION:-64M}
  pids_limit: ${PIDS_LIMIT:-200}
  cpus: ${CPUS_LIMIT:-2} # Set below the total number of cores, for example 3.5 for 4 cores

  # Restart Settings
x-restart: &restart
  stop_grace_period: ${RESTART_GRACE:-1m}
  restart: ${RESTART_MODE:-unless-stopped}

  # Configure security
x-security: &security
  security_opt:
   - no-new-privileges=${NO_NEW_PRIVILEGES:-true}

  # Configure User
x-user: &user
  user: ${PUID:-1000}:${PGID:-1000}

  # Configure Logging
x-logging: &logging
  logging:
    options:
      max-size: ${LOG_MAX_SIZE:-10m}
      max-file: ${LOG_MAX_FILE:-3}

  ## All base defaults in one
x-base: &default-base
  <<: [*limits, *restart, *security, *user, *logging]

  #####################################
  # Container healthcheck defaults
  #####################################
x-healthcheck: &default_healthcheck
  interval: ${HEALTH_INTERVAL:-60s}
  timeout: ${HEALTH_TIMEOUT:-10s}
  retries: ${HEALTH_RETRIES:-5}
  start_period: ${HEALTH_START:-10s}
  
  #####################################
  # Container environment defaults
  #####################################
x-environment-tz: &environment_tz
  TZ: ${TZ:-America/Chicago}

x-environment-user: &environment_user
  PUID: ${PUID:-1000}
  PGID: ${PGID:-1000}

  ## All environment defaults in one
x-environment: &default_environment
  <<: [*environment_tz, *environment_user]

###############################################################################
# Start of stack config
###############################################################################
# Project Name
name: ${PROJECT_NAME}

networks:
  proxy:
    name: ${PROXY_NETWORK}
    external: true
  frontend:
    name: ${PROJECT_NAME}_frontend
    internal: false
    driver_opts:
      encrypted: "true"
#  backend:
#    name: ${PROJECT_NAME}_backend
#    internal: true
#    driver_opts:
#      encrypted: "true"
  socket_proxy:
    name: ${PROJECT_NAME}_socket_proxy
    internal: true
    driver_opts:
      encrypted: "true"

services:
  dozzle:
    <<: [*limits, *restart, *security, *logging]
    image: amir20/dozzle:${DOZZLE_VERSION:-latest}
    hostname: ${PROJECT_NAME}.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}  
    container_name: ${PROJECT_NAME}
    environment:
      <<: [*environment_tz, *environment_user]
      #DOCKER_HOST: tcp://${PROJECT_NAME}-socket-proxy:2375
      DOZZLE_HOSTNAME: server.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}  
      DOZZLE_REMOTE_AGENT: ${DOZZLE_REMOTE_AGENT:-}
    labels: ## Traefik Labels
      - "traefik.enable=true"
      - "traefik.docker.network=${PROXY_NETWORK}"
        ## HTTP Routers
      - "traefik.http.routers.$PROJECT_NAME-rtr.rule=
        Host(`${SERVICE_NAME}.${DOMAIN_NAME}`) ||
        Host(`${SERVICE_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`${SERVICE_NAME}.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`${PROJECT_NAME}.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`)"
        ## Middlewares
      #- "traefik.http.routers.$PROJECT_NAME-rtr.middlewares=chain-no-auth@file"
      - "traefik.http.routers.$PROJECT_NAME-rtr.middlewares=chain-authentik@file"
        ## HTTP Services
      - "traefik.http.services.$PROJECT_NAME-svc.loadbalancer.server.port=8080"
    networks:
      - proxy
      - frontend
      #- socket_proxy
    depends_on:
      socket-proxy:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "/dozzle", "healthcheck"]
      <<: *default_healthcheck

#  socket-proxy:
#    <<: [*limits, *restart, *security, *logging]
#    image: lscr.io/linuxserver/socket-proxy:${SOCKET_PROXY_VERSION:-latest}
#    hostname: ${PROJECT_NAME}-socket-proxy.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}
#    container_name: "${PROJECT_NAME}-socket-proxy"
#    environment:
#      <<: [*environment_tz, *environment_user]
#      ALLOW_START: 0 #optional
#      ALLOW_STOP: 0 #optional
#      ALLOW_RESTARTS: 0 #optional
#      AUTH: 0 #optional
#      BUILD: 0 #optional
#      COMMIT: 0 #optional
#      CONFIGS: 0 #optional
#      CONTAINERS: 1 #optional
#      DISABLE_IPV6: 0 #optional
#      DISTRIBUTION: 0 #optional
#      EVENTS: 1 #optional
#      EXEC: 0 #optional
#      IMAGES: 0 #optional
#      INFO: 1 #optional
#      LOG_LEVEL: info #optional
#      NETWORKS: 0 #optional
#      NODES: 0 #optional
#      PING: 1 #optional
#      PLUGINS: 0 #optional
#      POST: 0 #optional
#      SECRETS: 0 #optional
#      SERVICES: 0 #optional
#      SESSION: 0 #optional
#      SWARM: 0 #optional
#      SYSTEM: 0 #optional
#      TASKS: 0 #optional
#      VERSION: 1 #optional
#      VOLUMES: 0 #optional
#    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock:ro
#    networks:
#      - socket_proxy
#    userns_mode: "host"
#    read_only: true
#    tmpfs:
#      - /run
#    healthcheck:
#      test: ["CMD", "wget", "--spider", "http://localhost:2375/version"]
#      <<: *default_healthcheck